* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(0,1,80);
background: linear-gradient(90deg, rgba(0,1,80,1) 76%, rgba(5,59,149,1) 100%);
color: #fff;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    flex-wrap: wrap;
}
.container h1{
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.container p {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 20px;
}
.container h5 {
    font-size: 1.5em;
    color: rgb(20, 161, 227);
    padding: 10px;
}
.main {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 6%;
    justify-content: space-around;
    position: relative;
}
.imgbox {
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    padding: 10px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img1 {
    background-image: url(./padlock\ \(1\).png);
   
}
.img2 {
    background-image: url(./statistic.png);
 
}
.img3 {
    background-image: url(./app-store.png);
 
}

.main .section h3 {
    margin-top: 30px;
    font-size: 2em;
    
}
.main .section p {
    margin-top: 10px;
    font-size: 1.5em;
}
.main .section {
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 22rem;
    height: 22rem;
   
}
.section:hover {
 
background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-top: 2px solid rgba(18, 11, 211, 0.25);
  border-left: 2px solid rgba(18, 218, 61, 0.2);
}